<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="ejs.min.js"></script>

      <%- include('./navbar_style') %>

    <style>

        body{
          padding-top: 5%;
          font-size: 18px;
          background-color: beige;
        }

        h4{
          padding-bottom: 1%;
        }

        .aa{
          padding-top: 2%;
        }

    </style>
  </head>
  <body>

      <%- include('./navbar') %>
      
      <div class="container">
        <h4>Needehelp is India’s most trusted online donation platform.</h4>
        <h4>Needehelp is India's largest and most trustworthy giving platform for donors. With contributions of over 300 crores made to our 200+ trusted NGOs, our giving community of 1M+ donors has impacted the lives of 4M+ people across 23 states in India.</h4>
        <h4>Through our Online Giving platform, we bring both convenience and choice together for donors in a safe and high-trust environment. Our Online Giving platform alone has contributed more than 100 crores so far to 500+ donation options across our partner NGOs.</h4>
        <h4>On our platform, you can donate to a nonprofit with confidence. Our robust due diligence process covers legal, compliance, financial and impact checks for each donation made to any non-profit, including in-person visits to beneficiaries and actual feedback reports. We do all this so that our donors can donate with confidence that their giving is indeed doing what it's supposed to - change lives.</h4>
        <h4>Here is why you should donate through Needehelp:</h4>
        <ul class="aa">
          <li>Choice: 200+ organizations to donate to</li>
          <li>Simple: Give at a click of a button</li>
          <li>Convenience: Contribute monthly with ease</li>
          <li>Credible - Donate with confidence to the verified partner NGOs of Needehelp</li>
          <li>Scale - Make a big impact with your small amounts. Donate as little as Rs.110/ month</li>
          <li>Tax exemption - Receive instant e-receipt on every donation, to claim tax</li>
        </ul>
      </div>

  </body>
</html>
