<!DOCTYPE html>
<html>
<head>
  <title>Change Password</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="ejs.min.js"></script>

    <%- include('./navbar_style') %>

    <style>

    @import url(https://fonts.googleapis.com/css?family=Lato:400,300,500);

    body {
      margin: 0;
      padding: 0;
      background: beige;
      font-size: 18px;
      color: #222;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
    }

    *:focus {
      outline: none;
    }

    #login-box {
      margin: 10% auto;
      width: 300px;
      height: 250px;
      background: #FFF;
      border-radius: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
      padding-bottom: 5%;
    }

    .reset_password{
      text-align: center;
      top: 0px;
      left: 100px;
      box-sizing: border-box;
      padding: 40px;
      width: 300px;
      height: 400px;
    }

    h1 {
      margin: 0 0 0 0;
      font-weight: 400;
      font-size: 28px;
      padding-bottom : 20px;
    }

    input[type="password"]
    {
      display: block;
      box-sizing: border-box;
      margin-bottom: 5px;
      padding: 4px;
      width: 220px;
      height: 32px;
      border: none;
      border-bottom: 1px solid #AAA;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 15px;
    }

    input[type="password"]:focus
    {
      border-bottom: 2px solid #000000;
      color: #000000;
    }

    input[type="submit"] {
      margin-top: 25px;
      width: 220px;
      height: 32px;
      background: #16a085;
      border: none;
      border-radius: 5px;
      color: #FFF;
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
    }

    input[type="submit"]:hover,
    input[type="submit"]:focus {
      opacity: 0.8;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }

    input[type="submit"]:active {
      opacity: 1;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    }

    </style>
</head>

<body>

    <%- include('./navbar') %>

  <div id="login-box">

    <div class="reset_password">
      <h1>Reset Password</h1>
      <form action='/changepassword' method="post">
        <input type="password" name="password" placeholder="Enter New Password"  pattern="(?-i)(?=^.{8,}$)((?!.*\s)(?=.*[A-Z])(?=.*[a-z]))((?=(.*\d){1,})|(?=(.*\W){1,}))^.*$" title="Password must have at least 8 characters with at least one Capital letter, at least one lower case letter and at least one number or special character." required>
        <input type="password" name="password2" placeholder="Confirm Password" required>
        <input type="submit" name="submit" value="change Password">
      </form>
    </div>

  </div>

</body>
</html>
