<!DOCTYPE html>
<html>
<head>
  <title>Forgot Password</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="ejs.min.js"></script>

    <%- include('./navbar_style') %>

  <style>

  @import url(https://fonts.googleapis.com/css?family=Lato:400,300,500);

  body {
    margin: 0;
    padding: 0;
    background: beige;
    font-size: 18px;
    color: #222;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }

  *:focus {
    outline: none;
  }

  #login-box {
    margin: 10% auto;
    width: 300px;
    height: 350px;
    background: #FFF;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  }

  .reset_password{
    text-align: center;
    top: 0px;
    left: 100px;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
  }

  h1 {
    margin: 0 0 0 0;
    font-weight: 400;
    font-size: 28px;
    padding-bottom : 20px;
  }

  input[type="email"]
  {
    display: block;
    box-sizing: border-box;
    margin-bottom: 5px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
  }

  input[type="email"]:focus
  {
    border-bottom: 2px solid #000000;
    color: #000000;
  }

  input[type="submit"] {
    margin-top: 25px;
    width: 220px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
  }

  input[type="submit"]:hover,
  input[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }

  input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  }

  </style>
</head>

<body>

    <%- include('./navbar') %>

  <div id="login-box">

    <div class="reset_password">
      <h1>Reset Password</h1>
      <h4>A Password reset link will be sent to the following email id</h4>
      <form action='/userLogin/forgotPassword' method="post">
        <input type="email" name="email" placeholder="Email" required>
        <input type="submit" name="reset_password" value="Send Password reset link">
      </form>
    </div>

  </div>

</body>
</html>
