<!-- Footer -->
<nav class="navbar fixed-bottom navbar-light navbar-custom">
</nav>


<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-custom">
  <div class="container">


  <a class="navbar-brand hove" href="/"><i class="far fa-life-ring"></i> Need-E-Help</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active hov">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active hov">
        <a class="nav-link" href="/about">About Us<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active hov">
        <a class="nav-link" href="/contact">Contact<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown drp active hov">
        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/education">Education</a>
            <a class="dropdown-item" href="/health">Health</a>
            <a class="dropdown-item" href="/women">Women</a>
            <a class="dropdown-item" href="/cancercare">Cancer Care</a>
            <a class="dropdown-item" href="/children">Children</a>
            <a class="dropdown-item" href="/differentlyabled">Differently Abled</a>
        </div>
      </li>
      <!-- <li class="nav-item active hov">
        <a class="nav-link" href="/ngo-registration">NGO Registeration<span class="sr-only">(current)</span></a>
      </li> -->
    </ul>


    <!-- If the person is logged in -->
    <% if (user!=undefined){ %>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= user.username %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!-- <a class="dropdown-item" href="/myProfile">My Profile</a> -->
            <a class="dropdown-item" href="/myDonation">My Donations</a>
            <a class="dropdown-item"href="/logout">Logout</a>
          </div>
      </li>
    </ul>
    <% }else{ %>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active hove">
          <a class="nav-link" href="/LoginOption">Login <i class="fas fa-user"></i></a>
        </li>
        <li class = "nav-item">
          <a href="/SignupOption" class="btn btn-outline-success" role="button">Sign Up <i class="fas fa-user-plus"></i> </a>
        </li>
      </ul>
    <% } %>



  </div>
  </div>
</nav>
