<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="ejs.min.js"></script>

  <%- include('./navbar_style') %>

  <style>
  @import url(https://fonts.googleapis.com/css?family=Lato:400,300,500);

  body {
    margin: 0;
    padding: 0;
    background: beige;
    font-size: 18px;
    color: #222;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }

  *:focus {
    outline: none;
  }

  #login-box {
    position: relative;
    margin: 10% auto;
    width: 600px;
    height: 350px;
    background: #FFF;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  }

  .left {
    position: absolute;
    top: 0px;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
  }

  h1 {
    margin: 0 0 20px 0;
    font-weight: 400;
    font-size: 28px;
  }

  input[type="text"],
  input[type="password"]
  {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
  }

  input[type="text"]:focus,
  input[type="password"]:focus
  {
    border-bottom: 2px solid #000000;
    color: #000000;
  }

  input[type="submit"] {
    margin-top: 25px;
    width: 120px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
  }

  input[type="submit"]:hover,
  input[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }

  input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  }

  .or {
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: #DDD;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 40px;
    text-align: center;
  }

  .right {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background: url('https://goo.gl/YbktSj');
    background-size: cover;
    background-position: center;
    border-radius: 0 2px 2px 0;
  }

  .right .loginwith {
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #FFF;
    text-align: center;
  }

  button.social-signin {
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
  }

  button.social-signin:hover,
  button.social-signin:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }

  button.social-signin:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  }

  button.social-signin.facebook {
    background: #32508E;
  }

  button.social-signin.google {
    background: #DD4B39;
  }

  .forgot_password {
    position: absolute;
    top : 270px;
    left: 40px;
    padding: 0px;
    font-size: 15px;
    font-weight: 500;
  }

  .forgot_password a:link {
    color: #357EC7;
  }

  .forgot_password a:hover {
    color: rgba(35, 126, 199, 0.7);
  }

  .new_account {
    position: absolute;
    top : 290px;
    left: 40px;
    padding: 0px;
    font-size: 15px;
    font-weight: 500;
  }

  .new_account a:link{
    color: #357EC7;
  }

  .new_account a:hover{
    color: rgba(35, 126, 199, 0.7);
  }
  .alerts{
    margin: 5% auto;
    position: relative;
    width: 50%;
    text-align: center;
  }
  </style>

</head>
<body>

  <%- include('./navbar') %>
  <div class="alerts">
    <%if (errorMessage.length>0){%>
      <div class="alert alert-danger">
        <strong>Error! </strong> <%=errorMessage[0]%>.
      </div>
    <%}%>

    <%if (successMessage.length>0){%>
      <div class="alert alert-success">
        <strong></strong> <%=successMessage[0]%>.
      </div>
    <%}%>
  </div>

  <div id="login-box">

    <div class="left">
      <h1>Login</h1>


      <form action="/userLoginPost" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" placeholder="Password" name = "password" required>
        <input type="submit" name="signupSubmit" value="Login">
      </form>
    </div>

    <div class="right">
      <span class="loginwith">Sign in with<br />social network</span>
      <button class="social-signin facebook">Log in with facebook</button>
      <button class="social-signin google">Log in with Google+</button>
    </div>

    <div class="or">OR</div>

    <div class="forgot_password">
      <a href="/userLogin/forgotPassword">Forgot Password?</a>
    </div>

    <div class="new_account">
      <p>Need new account? <a href="/userSignup">Sign Up</a></p>
    </div>

  </div>
</body>
</html>
