<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Verify</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="ejs.min.js"></script>

      <%- include('./navbar_style') %>

    <style>

      body{
        background-size: cover;
        background-position: center;
        font-family: 'lato', sans-serif;
        padding-bottom: 10%;
        background-color: beige;
        font-weight: 400;
        font-size: 18px;
      }

      .x {
        text-align: center;
        margin-left: 450px;
        padding-top: 200px;
        margin-right: 500px;
      }

      .y{
        margin-bottom : 1px;
      }

    </style>
  </head>

  <body>

      <%- include('./navbar') %>

    <form class="x" action="/verifyNgo" method="post">
      <input type="text" name="token" placeholder="Enter token" required>
      <button class="btn btn-outline-success" type="submit" name="submit">Verify</button>
    </form>



  </body>
</html>
